<%= form_for [@quiz, @question] do |f| %>
	
	<%= render "layouts/error_messages", :object => @question %>

  <div class="field">
    <%= f.label :text, "Your Question" %><br />
    <%= f.text_field :text %>
  </div>
	<div class="field answer_form">
		<% @question.answers.each do |answer| %>
	  	<%= f.fields_for :answers, answer do |ff| %>
		  	<div class="answer_field">
			    <%= ff.label :text, "Answer" %><br />
			    <%= ff.text_field :text %>
					<%= ff.label :correct, "Correct?" %>
					<%= ff.check_box :correct %>
			  </div>
			<% end %>
		<%end%>
	</div>
  <%= f.submit %>
<% end %>
