<% if is_teacher?(current_user) %>
	<%= link_to "New Quiz", new_user_quiz_path(current_user) %>
<% end %>

<h3>All my Quizzes</h3>
<table>
	<% @quizzes.each do |quiz| %>
		<tr>
			<td><%= quiz.name %></td>
			<td>
				<% unless quiz.created_one_question?(current_user) %>
					<%= link_to "New Question", new_quiz_question_path(quiz) %>
				<% else %>
					<%= link_to "Edit Question", "#" %>
				<% end %>
			</td>
			<td>
				<% if quiz.active? %>
					<%= link_to "Take Quiz", new_user_response_path(current_user) %>
				<% else %>
					Quiz is locked
				<% end %>
			</td>
			<td>
				<% if is_teacher?(current_user) %>
					class average
				<% elsif is_student?(current_user) %>	
					score
				<% end %>
			</td>
			<td>
				<% if is_teacher?(current_user) %>
					<%= link_to "Edit quiz", edit_user_quiz_path(current_user, quiz) %>
				<% elsif is_student?(current_user) %>	
					n/a
				<% end %>
			</td>
			<td>
				<% if is_teacher?(current_user) %>
					<%= link_to "Delete quiz", user_quiz_path(current_user, quiz), :method => :delete %>
				<% elsif is_student?(current_user) %>	
					n/a
				<% end %>
			</td>
		</tr>
	<% end %>
</table>