<%= form_for @user do |f| %>

	<%= render "layouts/error_messages", :object => @user %>
	
	<div class="field">	
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">		
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">	
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">	
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="field">	
		<%= f.radio_button :role, "student", :id => "student_radio", :checked => true %> 
		<%= label :role, "Student" %>
	  <%= f.radio_button :role, "teacher", :id => "teacher_radio" %>
	  <%= label :role, "Teacher" %>
	</div>	
	
	<div class="field" >
		<%= f.label :school_id, "Select your school" %><br />
		<span id="toggle_teacher_search"><%= link_to "(Not there? Create it!)", new_school_path %><br /></span>
		<span id="toggle_student_search">(Not there? Ask your teacher for help!)<br /></span>
		<%= f.collection_select :school_id, School.all, :id, :name %>
	</div>

	<%= f.submit %>
	
<% end %>